{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Document</title>
</head>

<body>
    <section class="delete-todo">
        <form method="post" class="post">
            {% csrf_token %}
            <h5 class="delete-todo-titile">Вы уверены, что хотите удалить это напоминание?</h5>
            <div class="delete-btn-group">
                <button type="submit" class="delete-todo-btn">Да уверены</button>
                <a href="/home" class="antidelete-todo-btn">я не уверен</a>
            </div>
        </form>
    </section>

    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>